<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form action="http://localhost:8200/appointments/saveAppointment" method="post">
		<table>
			<tr>
				<td>Doctor</td>
						<td><select>
						<option value="1">Dr. Mehrab</option>
						<option value="2">Dr. Daria</option>
						<option value="3">Dr. Su</option>
						<option value="4">Dr. Brian</option>
						<option value="5">Dr. Nanda</option>
						<option value="6">Dr. Lorem</option>
						<option value="7">Dr. Timothy</option>
						<option value="8">Dr. David</option>
						<option value="9">Dr. Joseph </option>
						<option value="10">Dr. Another</option>
				</select></td>
			</tr>
			<tr>
				<td>Patient Id</td>
				<td><input type="number" id="patientID"/></td>
			</tr>
			<!--  
			<tr>
				<td>Appointment Time</td>
				<td><select th:field="*{dateAndTime}">
						<option th:each="optionTime : ${optionTimes}"
							th:value="${optionTime}" th:text="${availTime}">Wireframe</option>
				</select></td>
			</tr>
			-->
		</table>
		<input type="submit" value="Submit" />
	</form>
</body>
</html>