<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form action="http://localhost:8056/prescription/new/submit" method="post">
		<table>
			<tr>
				<td>Patient Id</td>
				<td><input type="number" id="patientID"/></td>
			</tr>
			<tr>
				<td>Doctor Id</td>
				<td><input type="number" id="doctorID"/></td>
			</tr>
			<tr>
				<td>Prescribed Drug</td>
				<td><select id="drugID">
						<option value="1">Vicodin</option>
						<option value="2">Synthroid</option>
						<option value="3">Delasone</option>
						<option value="4">Amoxil</option>
						<option value="5">Neurontin</option>
						<option value="6">Prinivil</option>
						<option value="7">Lipitor</option>
						<option value="8">Glucophage</option>
						<option value="9">Zofran</option>
						<option value="10">Motrin</option>
				</select></td>
			</tr>
			<tr>
				<td>Prescribed Amount (milligrams)</td>
				<td><input type="number" id="ammount"/></td>
			</tr>
		</table>
		<input type="submit" value="Submit" />
	</form>
</body>
</html>