<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form action="#" th:action="@{/8200/appointments}"
		th:object="${appointment}" method="post">
		<table>
			<tr>
				<td>Doctor</td>
				<td><select th:field="*{doctorID}">
						<option th:each="doctor : ${doctors}" th:value="${doctor.getId()}"
							th:text="Dr. ${doctor.getFirstName()} ${doctor.getLastName()}"></option>
				</select></td>
			</tr>
			<tr>
				<td>Appointment Time</td>
				<td><select th:field="*{dateAndTime}">
						<option th:each="optionTime : ${optionTimes}"
							th:value="${optionTime}" th:text="${availTime}">Wireframe</option>
				</select></td>
			</tr>
			<tr>
				<td><input type="text" th:field="*{patientID} th:value=" ${}" disabled"/></td>
			</tr>
		</table>
		<input type="submit" value="Submit" />
	</form>
</body>
</html>