<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form action="#" th:action="@{/8200/appointments}"
		th:object="${appointment}" method="post">
		<table>
			<tr>
				<td>Patient</td>
				<td><select th:field="*{patientID}">
						<option th:each="patient : ${patients}" th:value="${patient.id}"
							th:text="${patient.firstName()} ${patient.lastName()}"></option>
				</select></td>
			</tr>
			<tr>
				<td>Prescribed Drug</td>
				<td><select th:field="*{drugID}">
						<option th:each="drug : ${drugs}"
							th:value="${drug.id}" th:text="${drug.name}">Wireframe</option>
				</select></td>
			</tr>
			<tr>
				<td>Prescribed Amount</td>
				<td><input type="number" th:field="*{patientID}"/></td>
			</tr>
			<tr>
				<td><input type="text" th:field="*{doctorID} th:value=" ${}" disabled"/></td>
			</tr>
		</table>
		<input type="submit" value="Submit" />
	</form>
</body>
</html>